@font-face {
    font-family: 'Avara_Bold';
    src: url('webfonts/Bold/Avara-Bold.eot');
    src: url('webfonts/Bold/Avara-Bold.eot?#iefix') format('embedded-opentype'),
        url('webfonts/Bold/Avara-Bold.woff') format('woff'),
        url('webfonts/Bold/Avara-Bold.woff2') format('woff2'),
        url('webfonts/Bold/Avara-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avara_Bold Italic';
    src: url('webfonts/BoldItalic/Avara-BoldItalic.eot');
    src: url('webfonts/BoldItalic/Avara-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('webfonts/BoldItalic/Avara-BoldItalic.woff') format('woff'),
        url('webfonts/BoldItalic/Avara-BoldItalic.woff2') format('woff2'),
        url('webfonts/BoldItalic/Avara-BoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avara_Black';
    src: url('webfonts/Black/Avara-Black.eot');
    src: url('webfonts/Black/Avara-Black.eot?#iefix') format('embedded-opentype'),
        url('webfonts/Black/Avara-Black.woff') format('woff'),
        url('webfonts/Black/Avara-Black.woff2') format('woff2'),
        url('webfonts/Black/Avara-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Avara_Bold', sans-serif;
}

main {
    margin: 0 3vw 3vw 3vw;
}

.exhibition-title h1 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
}

.exhibition-title img {
    max-width: 80vw;
    max-height: 3.8em;
    margin-top: 0.6em;
}

.menu-home img {
    max-width: 60vw;
    max-height: 5em;
}

h1 {
    font-family: 'Avara_Bold';
    font-size: 3em;
    text-transform: lowercase;
}

nav {
    display: flex;
    justify-content: space-between;
    text-transform: lowercase;
}

nav a:last-child {
    text-align: right;
}

nav a,
.artists-list a {
    font-family: 'Avara_Black';
    font-size: 1.8rem;
    text-decoration: none;
    transition: 0.5s;
    letter-spacing: 0.02em;
}

nav a {
    color: rgb(0, 0, 0, 0.7);
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 0.03em;
    -webkit-text-stroke-color: black;
}

.artists-list a {
    color: black;
    -webkit-text-stroke-width: 0em;
    -webkit-text-stroke-color: rgb(0, 0, 0, 0);
    -webkit-text-fill-color: black;
}

nav a:hover {
    color: black;
    -webkit-text-stroke-width: 0em;
    -webkit-text-stroke-color: rgb(0, 0, 0, 0);
    -webkit-text-fill-color: black;
}

.artists-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.middle-icon {
    pointer-events: none;
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 6em;
    width: 6em;
    z-index: -5;
}


.line1 {
    width: 5.8em;
    height: 0.18em;
    animation-duration: 10s;
    background: transparent;
    outline: 3px #000000 solid;
    animation-name: morph1;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    rotate: 90deg;
}

.line2 {
    background: black;
    height: 0.21em;
    width: 0.21em;
    animation-duration: 10s;
    animation-name: morph2;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform: scaleX(30);
}

@keyframes morph1 {

    19% {
        transform: rotate(90deg) translateY(20px);
    }

    51% {
        transform: rotate(180deg);
    }

    71% {
        transform: rotate(270deg) translateY(20px);
    }

    100% {
        transform: rotate(360deg);
    }

}

@keyframes morph2 {
    0% {
        transform: scaleX(30);
    }

    15% {
        transform: scaleX(1);
    }

    22% {
        transform: scaleX(30);
    }

    35% {
        transform: scaleX(1);
    }

    48% {
        transform: scaleY(30) scaleX(1);
    }

    52% {
        transform: scaleY(30) scaleX(1);
    }

    65% {
        transform: scaleX(1);
    }

    75% {
        transform: scaleX(30);
    }

    85% {
        transform: scaleX(1);
    }

    100% {
        transform: scaleX(30);
    }
}


.artists-row-names {
    display: flex;
    justify-content: center;
    gap: 20vw;
    transition: 2s;
    text-transform: lowercase;
    background: none;
    flex-wrap: wrap;
}

.artists-row>*>p {
    transition: 2s;
    margin: 0;
}

.olivia-allison-row>*>p {
    -webkit-text-fill-color: #81916e;
}

.angela-jessica-row>*>p {
    -webkit-text-fill-color: #478a91;
}

.fariha-nishat-row>*>p {
    -webkit-text-fill-color: #705166;
}

.anya-jafrin-row>*>p {
    -webkit-text-fill-color: #78a85e;
}

.anika-cindy-row>*>p {
    -webkit-text-fill-color: #386c56;
}

.artists-subrow {
    opacity: 0;
    transition: 1s;
    text-align: center;
    max-height: 0px;
    font-family: 'Avara_Bold Italic';
}

.artists-row {
    margin: 0.03em;
}

.artists-row:hover .artists-subrow {
    opacity: 1;
    max-height: 1.5em;
    margin-top: -0.8em;
    pointer-events: none;
}

.artists-row:before {
    transition: 2s;
    pointer-events: none;
    z-index: -1;
}

.artists-row:hover .artists-row-names,
.artists-row:active .artists-row-names {
    gap: 0em;
}

.artists-row:hover:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0.45;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    background-size: contain;
}

.olivia-allison-row:hover:before {
    background-image: url(images/allisonolivia-1.png);
}

.angela-jessica-row:hover:before {
    background-image: url(images/angelajessica-1.png);
}

.fariha-nishat-row:hover:before {
    background-image: url(images/farihanishat-1.jpg);
}

.anya-jafrin-row:hover:before {
    background-image: url(images/anyajafrin-1.JPG);
}

.anika-cindy-row:hover:before {
    background-image: url(images/anikacindy-1.png);
}

.artists-row:hover .artists-row-names p {
    color: rgb(0, 0, 0, 0.7);
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 0.03em;
    -webkit-text-stroke-color: black;
}

.curatorial-text {
    columns: 2 auto;
    column-gap: 2em;
    max-width: 60em;
}

.curatorial-text p {
    margin: 0 0 1em 0;
}

hr {
    border-bottom: 2px solid black;
}

@media (hover: none) {
    nav {
        flex-direction: column;
        align-items: center;
        border-bottom: 1px solid black;
        padding-bottom: 1em;
    }

    nav a {
        font-size: 1.5em;

    }

    .middle-icon {
        display: none;
    }

    .artists-row .artists-row-names {
        gap: 0em;
    }

    .artists-row .artists-subrow {
        opacity: 1;
        max-height: 1.5em;
        margin-top: -0.6em;
        pointer-events: none;
    }

    .artists-row .artists-row-names {
        -webkit-text-stroke-width: 0.03em;
        -webkit-text-stroke-color: black;
        color: rgb(0, 0, 0, 0.7);
        -webkit-text-fill-color: transparent;
    }

}